@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities{
    .section-min-height{
      min-height: calc(100vh - 83px);
    }
  }

  body {
    color:black;
    background-color: white;
    font-family: Helvetica;
  }
  